name: Testing

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  fast-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8

    - name: Install Package
      run: |
        pip install -e .
        pip install pytest

    - name: Pytest (Fast)
      run: |
        pytest -q -m "not slow and not online"

  full-tests:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    env:
      PYPAGE_RUN_ONLINE_TESTS: "1"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8

    - name: Install Package
      run: |
        pip install -e .
        pip install pytest

    - name: Pytest (Full)
      run: |
        pytest -q
